[submodule "Authentication-Test/lib/forge-std"]
	path = Authentication-Test/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Basic-Test/lib/forge-std"]
	path = Basic-Test/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
